#songList {
  tr {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  td {
    vertical-align: middle;
  }

  tr {
    .audio {
      button {
        opacity: 0;
      }
    }

    &:hover .audio {
      button {
        opacity: 1;
      }
    }
  }

  .btn-td {
    text-align: center;
  }
}
